@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #3462a7, #505aad, #6f4eac, #8e3ba4, #aa1793);
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.glassmorphic-container {
    padding: 10%;
    width: 50vw;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
}